.react-progress {
  width: 100%;
  height: 6px;
}
.react-outer-progress {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ccc;
}
.react-inner-progress {
  height: 100%;
  position: absolute;
  left: 0;
  background: #3D83FE;
  z-index: 8;
}
.react-inner-progress-btn {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 9;
  top: 50%;
  margin-top: -4px;
  cursor: pointer;
  
}
.react-inner-progress-btn::after{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin-top: -2px;
  margin-left: -2px;
  background-color: blue;
}